<!DOCTYPE html>
<html  lang="ro">
    <head>
        <title>
            Magazinul Sportiv GoSport
        </title> 
        <meta charset="UTF-8"> <!-- Specifică setul de caractere pentru documentul HTML -->
        <meta name="description" content="Magazinul Sportiv GoSport oferă o selecție variată de echipamente sportive, îmbrăcăminte, încălțăminte și accesorii pentru sport și fitness.">
        <meta name="keywords" content="Magazinul Sportiv GoSport, Îmbrăcăminte sport, Încălțăminte sport, Accesorii sport, Echipamente de fitness, Promoții">
  
        <%- include("../fragmente/head.ejs") %>  
    </head>
    <body>
        <%- include("../fragmente/header.ejs") %>  
        <div class="print-banner">Acesta este un proiect școlar!</div>
        
      
        <main>  
        <section>
            <h2> Istoric </h2>
            <p>
             Povestea noastra ...    
           </p>
        </section>
    </main>

    <%- include("../fragmente/footer.ejs") %>
    </body>
</html>