
        <footer>
            <div>
               <p>Acesta este un proiect școlar!</p>
               <a href="#" id="link-sus">
                <span class="fa-sharp fa-solid fa-arrow-up fa-beat arrow fa-bounce"></span>Înapoi sus
               </a>
            
            
               <br>
               Emailul nostru: <a href="mailto:contact@GoSport.ro">contact@GoSport.ro</a>
               <br>
               Suna-ne la: <a href="tel:0712345678">0712345678</a>
               <br>
               
               Contactează-ne pe <a href="https://api.whatsapp.com/send?phone=712345678">whatsapp</a>
               <br>
               Adresa noastra este: <address> <a href="https://www.google.com/maps/place/Strada+Academiei+14,+Bucure%C8%99ti+010014/@44.4352459,26.099514,3a,75y,16.01h,82.65t/data=!3m6!1e1!3m4!1stArb1_QWpTRqBcynVagfGQ!2e0!7i16384!8i8192!4m5!3m4!1s0x40b1ff472f372acd:0xb7e6e278a72d3fb4!8m2!3d44.4351979!4d26.0996322" target="_blank">Strada Academiei, nr. 14, București, România.</a>
               </address>
            </div>
        </footer>
         
              
