
        <header>
            <div>
                 <h1>Magazinul Sportiv <span>GoSport</span></h1> 
            </div>
        </header>
        <nav>
         <div>
            <input id="ch-menu" type="checkbox">
           <label for="ch-menu" class="hamburger">  <div></div>  <div></div>  <div></div>
           </label>
            <ul class="meniu"> 
                <li>
                    <a class="text" href="/index#">Acasă</a>
                    <a class="icon" href="/index#"></a>
                </li>
                <li>
                    <a href="/index#">Despre</a>
                    <ul>                        
                        <li><a href="/index#despre">Prezentare</a></li>
                        <li><a href="/istoric">Istoric</a></li>
                        <li><a href="/indexdespre.html#galerie">Galerie</a></li>
                    </ul>
                </li>
                <li><a href="/index#">Înregistrare</a></li>
                <li>
                    <a href="/index#produse">Produse</a>
                    <ul>
                        <li><a href="/index#">Îmbrăcăminte</a></li>
                        <li><a href="/index#">Încălțăminte</a></li>
                        <li><a href="/index#">Accesorii</a></li>
                        <li><a href="/index#">Fitness</a></li>
                    </ul>
                </li>
                <li><a href="/index#promotii">Promoții</a></li>
                <li><a href="/index#contact">Contact</a></li> 
            </ul>
         </div>
        </nav>

    